.footer {
  padding: 60px 0 0;

  font-weight: normal;
  font-size: map-get($font-sizes, "xxs");
}

.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;

  border-top: 1px solid #ccc;
}

.footer__copyright,
.footer__copyright a {
  color: #9f9f9f;
}

.footer__copyright a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.footer__author {
  color: rgb(var(--color-text));
  font-weight: 500;

  span {
    color: $accent;
  }

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
