.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.layout__main {
  flex-grow: 1;
}

.layout__content a {
  color: $accent;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.layout__more-links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 50px;
}

.layout__content + .layout__more-links {
  margin-top: 60px;
}

.layout__more-links ol {
  padding-left: 20px;
}

.layout__more-links a {
  color: rgb(var(--color-text));
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
