<html class="no-js" lang="{{ page.lang | default: site.lang | default: 'ru' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <base href="{{ site.baseurl }}">

  <!-- Критические стили -->
  {% capture critical %}{% include critical.css %}{% endcapture %}
  <style>{{ critical | scssify }}</style>

  <!-- Стили -->
  <link rel="preload" as="style" href="{{ '/assets/css/style.css?v=' | relative_url }}{{ site.version | default: '0.0.1' }}" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | relative_url }}{{ site.version | default: '0.0.1' }}"></noscript>
</head>
<body>
<div class="layout">
  {% contentblock header %}

  <main class="layout__main">
    {% contentblock content %}
  </main>

  {% contentblock footer %}
</div>

{% contentblock script %}
</body>
</html>
