---
layout: base
---

{{ content }}

{% contentfor more-links %}
<div class="layout__more-links">
  <div>
    <h2>Другие статьи</h2>

    <ol>
      {% assign collection = site.steps %}

      {% for article in collection limit: 15 offset: 0 %}
      {% unless page.url == article.url %}
      <li><a href="{{ article.url }}">{{ article.title }}</a></li>
      {% endunless %}
      {% endfor %}
    </ol>
  </div>

  <div>
    <h2>Другие сниппеты</h2>

    <ol>
      {% assign collection = site.steps %}

      {% for article in collection offset: 15 %}
      {% unless page.url == article.url %}
      <li><a href="{{ article.url }}">{{ article.title }}</a></li>
      {% endunless %}
      {% endfor %}
    </ol>
  </div>

  <a href="{{ site.baseurl }}/#links">← К оглавлению</a>
</div>
{% endcontentfor %}
